<mat-tab-group dynamicHeight>
  <mat-tab label="Line Chart">
    <app-line-chart></app-line-chart>
  </mat-tab>
  <mat-tab label="Bar Chart">
    <app-bar-chart></app-bar-chart>
  </mat-tab>
  <mat-tab label="Doughnut Chart">
    <app-doughnut-chart></app-doughnut-chart>
  </mat-tab>
  <mat-tab label="Radar Chart">
    <app-radar-chart></app-radar-chart>
  </mat-tab>
  <mat-tab label="Pie Chart">
    <app-pie-chart></app-pie-chart>
  </mat-tab>
  <mat-tab label="Polar Area Chart">
    <app-polar-area-chart></app-polar-area-chart>
  </mat-tab>
  <mat-tab label="Dynamic Chart">
    <app-dynamic-chart></app-dynamic-chart>
  </mat-tab>
</mat-tab-group>
